body {
    width: 100vw;
    background-color: white;
}
/*HEADER*/
header {
    width: 100vw;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C3CFD9;
}
header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}
/*PAGE 1*/
h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    margin-top: 100px;
    color: #293845;
}
.movies {
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 27px 46px;
    grid-template-columns: repeat(2, auto);
}
.movie img {
    width: 100%;
}
/*PAGE 2*/
.sessions {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 120px;
}
.session p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #293845;
}
.time {
    display: flex;
}
.time-button {
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    margin-right: 8px;
    margin-top: 24px;
    margin-bottom: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 117px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background: #DFE6ED;
    border: 1px solid #9EADBA;
}
.poster-movie {
    width: 64px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-right: 14px;
}
.poster-movie img {
    width: 48px;
    height: 72px;
}
footer p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #293845;
}